
*{
    margin:0;
    padding:0;
}

/* img{
    margin-left:624px;
    margin-top: 187px;
}
form{
    margin-top: 20px;
    margin-left: 624px;
} */
nav{
    display:flex;
    gap:10px;
    justify-content: end;
    align-items: center;
    padding:15px;
}
#search-section
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-top:147px;
    
}
#search-buttons{
    display:flex;
    margin-top:16px;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin-bottom: 20px;
}
#main{
    height: 90vh;
}
#location
{
    background-color: #f2f2f2;
    padding:10px;
    color:rgba(142, 145, 146, 0.834);
}
#footer-links
{
    background-color: #f2f2f2;
    padding: 10px;
    display:flex;
    gap:30px;
    justify-content: space-between;
}
a{
    color:rgba(142, 145, 146, 0.834);
}
#footer-links-div1{
    display:flex;
    gap:20px;
}
#footer-links-div2{
    display:flex;
    gap:20px;
}
#search-buttons>button{
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f8f9fa;
    border:2px solid #fefefe3c;
    border-radius: 5px;
    cursor:pointer;
}
#search-buttons > button:hover{
box-shadow: 0 1px 1px rgba(0,0,0,.1);
border:1px solid #dadce0;
}
#search-bar{
    margin: 20px;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    border:1px solid rgba(181,181,181,0.713);
    border-radius:25px;
    padding-left:10px;
    padding-right:20px;
    margin-top:26px;
}
#search-bar:hover{
    box-shadow: 0 1px 6px rgba(152, 152, 154, 0.28);
    border-color: rgba(239, 239, 241, 0);

}
#search-bar > input{
    height:42px;
    width:430px;
    border:2px solid #fefefe3c;
    font-size: 16px;
}
#search-bar>input:focus{
    outline:none;
}
p>span{
    color:blue;
}